<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Tracker</title>
  <link rel="stylesheet" href="style.css">
</head>
<style>
    /* Lighter Pink */
body {
  background-color: #e66df6;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #ffc1cc;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #ff99aa;
}

h1 {
  color: #ff5c8a;
  font-size: 36px;
}

p {
  color: #ff5c8a;
  font-size: 18px;
}

main {
  padding: 20px;
}

/* Medium Pink */
.search-bar {
  margin-top: 20px;
  padding: 10px;
  background-color: #ff99aa;
  border: 1px solid #ff5c8a;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ff5c8a;
}

button {
  background-color: #ff5c8a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ff85a1;
}

/* Darker Pink */
#stock {
  background-color: #ff5c8a;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  color: white;
}

.detail p {
  font-size: 18px;
  color: white;
}

#red {
  color: red;
  font-weight: bold;
}

.detail span {
  font-size: 16px;
  color: #ffe4e1;
}

u {
  color: white;
}


</style>
<body>
  <header>
    <h1>Stock Tracker</h1>
    <p>Welcome to Stock Tracker</p>
  
  </header>
  <main>
    <p>Explore the latest trends, news, and insights in the stock market.</p>
        <p>Get real-time data, make informed decisions, and grow your investments.</p>
    <section class="search-bar">
      <form  method="GET" action="data">
        <label for="symbol" >Enter Stock Symbol:</label>
        <input type="text" name="symbol" placeholder="e.g. AAPL, GOOG" height="50" size="50">
        <button type="submit" ><b>Search</b></button>
      </form>
    </section>
    <p><b id="red"><%= message %></b></p>

    <section  id="stock">
      <h2><u>Stock Details</u></h2>
      <div class="detail">
        <p><b>Company Name:</b><%= company %></p> 
        <span id="company-name"></span>
      </div>
      <div class="detail">
        <p><b>Current Price:   </b><%= price %></p>
        <span id="current-price"></span>
     
             
      </div>
      <div class="detail">
        <p><b>Change: </b><%= change %></p>
        <span id="change"></span>
       
             
      </div>
      <div class="detail">
        <p><b>Day High:   </b><%= high %></p>
        <span id="day-high"></span>
     
              
      </div>
      <div class="detail">
        <p><b>Day Low: </b><%= low %></p>
        <span id="day-low"></span>
       
              
      </div>
      <div class="detail">
        <p><b>52 Week High:</b><%= yearhigh %></p>
        <span id="year-high"></span>
        
                
      </div>
      <div class="detail">
        <p><b>52 Week Low:</b> <%= yearlow %></p>
        <span id="year-low"></span>
        
      </div>
    </section>


   
  </main>
 
</body>
</html>